body{
    background-color: gray;
}
h1{
    border: 1px solid red;
    background-color: black;
    color: yellow;
    width: 560px;
    margin-left: 400px;
}
a{
    margin-left: 560px;
}
p{
    margin-left: 580px;
    font-size: large;
}